.sorting {
  background: #143F6B;
  margin: 3rem auto;
  width: 90vw;
  height: 20rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  overflow-x: scroll;

  div[class^='bar'] {
    width: 50px;
    background: #F55353;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
}